---
import "../styles/components/_about.scss";
import AosInit from "./react/animations/AosInit.tsx";
import Particles from "./react/particles/Particles.tsx";
import ParticlesGalaxy from "./react/particles/ParticlesGalaxy";
---

<AosInit client:load />

<section id="about" class="about-section">
  <ParticlesGalaxy
    client:load
    count={12}
    planetPosition={{
      top: "-10%",
      left: "60%",
      size: "800px",
      display: true,
    }}
  />
  <Particles client:load count={50} />

  <div class="container">
    <div class="about-content">
      <div class="text">
        <h2 data-aos="fade-up" data-aos-delay="100">Sobre mí</h2>

        <div class="block" data-aos="fade-up" data-aos-delay="150">
          <h3>💻 ¿Quién soy?</h3>
          <p>
            Soy Mauro Gigena, desarrollador fullstack con más de 3 años de
            experiencia construyendo aplicaciones web modernas, escalables y
            centradas en el usuario.
          </p>
        </div>

        <div class="block" data-aos="fade-up" data-aos-delay="200">
          <h3>📚 Formación</h3>
          <p>
            Estudie Ingeniería en Sistemas de Información y me cambie a
            ingeneiria de software, complemento mi formación con cursos
            enfocados en desarrollo frontend y diseño UX/UI.
          </p>
        </div>

        <div class="block" data-aos="fade-up" data-aos-delay="250">
          <h3>🛠️ Stack</h3>
          <p>
            Trabajé en sistemas de gestión de personal, reportes productivos en
            tiempo real y tableros con indicadores OEE. Y sistema de gestion
            para telefonica Me especializo en React, TypeScript, SCSS y
            arquitectura limpia.
          </p>
        </div>

        <div class="block" data-aos="fade-up" data-aos-delay="300">
          <h3>🎯 Motivación</h3>
          <p>
            Me motiva seguir aprendiendo, optimizar interfaces, y desarrollar
            soluciones que no solo funcionen bien, sino que también se sientan
            bien.
          </p>
        </div>

        <div class="block" data-aos="fade-up" data-aos-delay="350">
          <h3>🏊‍♂️ Más allá del código</h3>
          <p>
            En mi tiempo libre disfruto la natación y la fotografía. Pronto vas
            a poder ver mi portfolio fotográfico, donde combino técnica y
            creatividad desde otra mirada.
          </p>
        </div>
      </div>

      <div class="image" data-aos="fade-left" data-aos-delay="100">
        <img
          src="/assets/avatar_2.png"
          alt="Avatar de Mauro ilustrado"
          class="avatar-float"
        />
      </div>
    </div>
  </div>
</section>
