---
import "../styles/components/_skills.scss";
import SkillsCarousel from "./react/sections/SkillsCarousel.tsx";
import CodeParticles from "./react/particles/CodeParticles.tsx";
import AosInit from "./react/animations/AosInit";
---

<AosInit client:load />

<section id="skills" class="skills-section">
  <CodeParticles client:load count={20} />

  <div class="container">
    <h2 class="section-title" data-aos="fade-up">Skills</h2>

    <div
      class="skills-lists skills-grid"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="skills-column" data-aos="fade-up" data-aos-delay="100">
        <h3>🎨 Frontend</h3>
        <ul class="skills-list split-5">
          <li>HTML</li>
          <li>CSS / SCSS</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>React.js</li>
          <li>Vue.js</li>
          <li>Astro</li>
          <li>Redux</li>
          <li>Framer Motion</li>
          <li>Responsive Design</li>
          <li>Bootstrap</li>
          <li>Ant Design</li>
          <li>Webpack / Vite</li>
        </ul>
      </div>

      <div class="skills-column" data-aos="fade-up" data-aos-delay="100">
        <h3>💾 Backend</h3>
        <ul class="skills-list split-5">
          <li>Node.js</li>
          <li>Express</li>
          <li>API REST</li>
          <li>Firebase</li>
          <li>SQL Server</li>
          <li>MySQL</li>
        </ul>
      </div>

      <div class="skills-column" data-aos="fade-up" data-aos-delay="100">
        <h3>🏗️ Arquitecturas</h3>
        <ul class="skills-list split-5">
          <li>Clean Architecture</li>
          <li>Hexagonal (básico)</li>
          <li>Microservicios</li>
          <li>Microfrontends</li>
          <li>SPA</li>
        </ul>
      </div>

      <div class="skills-column" data-aos="fade-up" data-aos-delay="100">
        <h3>🛠️ Herramientas</h3>
        <ul class="skills-list split-5">
          <li>Git</li>
          <li>Figma</li>
          <li>Prettier / ESLint</li>
          <li>Jest / Postman</li>
          <li>Consuman</li>
        </ul>
      </div>

      <div class="skills-column" data-aos="fade-up" data-aos-delay="100">
        <h3>🧰 Metodologías de Trabajo</h3>
        <ul class="skills-list">
          <li>Agile</li>
          <li>Kanban</li>
          <li>Trello</li>
          <li>Jira</li>
        </ul>
      </div>

      <div class="skills-column" data-aos="fade-up" data-aos-delay="100">
        <h3>🧠 Soft Skills</h3>
        <ul class="skills-list split-5">
          <li>Trabajo en equipo</li>
          <li>Comunicación efectiva</li>
          <li>Resolución de problemas</li>
          <li>Gestión del tiempo</li>
          <li>Adaptabilidad</li>
          <li>Autonomía para aprender</li>
        </ul>
      </div>
    </div>
    <SkillsCarousel client:load />
</section>
